PORT=8000
MONGO=mongodb://root:password@localhost:27017/
CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=http://localhost:8000/line/callback
COOKIE_DOMAIN=localhost
REDIRECT_URI_AFTER_LOGIN=http://localhost:3000
JWT_SECRET=secret
REDIS_URL=redis://localhost:6379
REFRESH_TOKEN_HMAC_SECRET=change-me-strong-secret
EMAIL=
CUSTOM_EMAIL=
EMAIL_PASSWORD=